::selection {
  background-color: #E0279D;
  color: #ECFFF8;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #313338;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: #2B2D31;
  color: #949BA4;
  border-radius: 0;
  border-bottom: 10px solid #1E1F22;
  padding: 20px;
  margin-bottom: 10px;
}
header h1 {
  color: #F2F3F5;
}

header h3 {
  color: #e0279d;
}

footer {
  background-color: #2B2D31;
  border-radius: 0;
  border-top: 10px solid #1E1F22;
  padding: 20px;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 5px solid #313338;
;
}

.description {
  white-space: pre-wrap;
}

.timeBlock {
  display: flex;
  width: 80%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.timeBlock input {
  width: 100%;
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
}

.hour {
  background-color: #313338;
  color: #e0279d;
  border-top: 1px dashed #F2F3F5;
  width: 10%;
  text-align: right;
  padding-top: 30px;
  font-weight: bold;
}

.past {
  background-color: #563C5C;
  color: #F2F3F5;
}

.present {
  background-color: #e0279d;
  color: #F2F3F5;
  font-weight: bold;
}

.future {
  background-color: #D5A18E;
  color: #F2F3F5;
}

.saveBtn {
  border: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1E1F22;
  color: #e0279d;
  width: 10%;
  font-size: 15px;
}

.saveBtn:hover {
  font-size: 10px;
  transition: all 0.3s ease-in-out;
}
